{% extends 'base.html.twig' %}

{% block title %}{{ conference.name }}{% endblock %}

{% block body %}
  <div id="app"></div>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ conference_css_lib_url }}"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ conference_js_lib_url }}"></script>
  <script>
   ConferenceApp.render({
     element: document.getElementById('app'),
     url: {{ conference.dataUrl|json_encode|raw }},
     basename: {{ basename |json_encode|raw }}
   })
  </script>
{% endblock %}
